<div class="jumbotron">
    <h1 class="display-5">An Approach to Effective Project Management by Using Predictive Analytics</h1>
  
    <p class="lead">
        This is an application with which we could predict the right resource for the Project. Enter your project task summary and choose the project team and difficulty of the task to determine the best suitable resource for the project.        
    </p>
    <hr class="my-4">
    <div class="lead">
        How it works?
        <ol>
            <li>Historical data about the employees and their assignment are used as the base to develop the model</li>
            <li>Using the model, the data can be predicted with the help of Google Prediction API for the given input from user</li>
            <li>The output is displayed in form of charts to provide best user interface.</li>
        </ol>
    </div>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" [routerLink]="['/dashboard']" role="button">Let's find resource!</a>
    </p>
</div>
