<h4 class="mb-4"> Employee details </h4>

<input type='text' style='padding:8px;margin:15px auto;width:30%;' id="txtSearchUser" 
placeholder='Type to filter the table...' (keyup)='updateFilterData($event)'
/>
<ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
</ngx-datatable>

<!-- 
<table class="table table-hover table-striped ">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Type</th>
            <th scope="col">Summary</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Completion Time</th>
        </tr>
    </thead>
    <tbody>
<ng-container *ngFor="let details of userTask">
            <tr>
                 <th scope="row" title="Designation: {{details.designation}} &#013; Experiance: {{details.experience}}">{{details.name}}</th>
                <td>{{details.team}}</td>
                <td>{{details.taskType}}</td>
                <td>{{details.summary}}</td>
                <td>{{details.difficulty}}</td>
                <td>{{details.completionInDays}} days</td>
            </tr>
        </ng-container> -->

<!-- <tr>
            <th scope="row">114456</th>
            <td>BICChennaiProject</td>
            <td> INT</td>
            <td> 3</td>
        </tr>
        <tr>
            <th scope="row">114451</th>
            <td>Ganesh.Ravindran</td>
            <td> MSTR</td>
            <td> 4</td>
        </tr>
        <tr>
            <th scope="row">114446</th>
            <td>andrew.cossentine</td>
            <td> UIUX</td>
            <td> 5</td>
        </tr>
        <tr>
            <th scope="row">114441</th>
            <td>Pennylaine.Morales</td>
            <td> RDG</td>
            <td> 2</td>
        </tr>
        <tr>
            <th scope="row">114436</th>
            <td>kailai.zhou</td>
            <td> ITR</td>
            <td> 3</td>
        </tr>
        <tr>
            <th scope="row">114431</th>
            <td>BIAnalyticsWF</td>
            <td> PI</td>
            <td> 3</td>
        </tr>
        <tr>
            <th scope="row">114426</th>
            <td>Mark.Parsons</td>
            <td> PA</td>
            <td> 7</td>
        </tr>
        <tr>
            <th scope="row">114421</th>
            <td>Bharathidasan.Pushpanathan</td>
            <td> INF</td>
            <td> 8</td>
        </tr>
        <tr>
            <th scope="row">114416</th>
            <td>Naveenraj.Palanisamy</td>
            <td> INM</td>
            <td> 1</td>
        </tr>
        <tr>
            <th scope="row">114411</th>
            <td>Hellen.Lai</td>
            <td> ETF</td>
            <td> 2</td>
        </tr>

    </tbody>
</table>
 -->
