<div class="row">
    <div class="col-lg-6 order-md-1">
        <h4> Project Details</h4>

        <hr class="mb-3">
        <form class="mb-5" novalidate (ngSubmit)="onSubmit()" #taskForm="ngForm">

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Type</label>
                <div class="col-sm-10">
                    <!-- <div class="form-check form-check-inline custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="rdoType" id="rdoTypeTask" value="option1" checked>
                        <label class="custom-control-label" for="rdoTypeTask">
                            Task
                        </label>
                    </div>
                    <div class="form-check form-check-inline custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="rdoType" id="rdoTypeBug" value="option2">
                        <label class="custom-control-label" for="rdoTypeBug">
                            Bug
                        </label>
                    </div> -->
                    <ng-container *ngFor="let t of tasks">
                        <div class="form-check form-check-inline custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="task" [id]="t" [value]="t" [(ngModel)]="model.task" #task="ngModel"
                                checked required>
                            <label class="custom-control-label" [for]="t">
                                {{t}}
                            </label>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="form-group row" [ngClass]="{
                'has-danger': team.invalid && (team.dirty || team.touched),
                'has-success': team.valid && (team.dirty || team.touched)
              }">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Team</label>
                <div class="col-sm-10">
                    <select class="custom-select" id="team" name="team" [(ngModel)]="model.team" #team="ngModel" required>
                        <option *ngFor="let team of teams" [value]="team">{{team}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row" [ngClass]="{
                'has-danger': summary.invalid && (summary.dirty || summary.touched),
                'has-success': summary.valid && (summary.dirty || summary.touched)
              }">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Summary</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="summary" name="summary" #summary="ngModel" [(ngModel)]="model.summary" placeholder="Enter summary here.."
                        required></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Difficulty</label>
                <div class="col-sm-10">

                    <ng-container *ngFor="let d of difficulties">
                        <div class="form-check form-check-inline custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="difficulty" [id]="d" [value]="d" [(ngModel)]="model.difficulty" #difficulty="ngModel"
                                required>
                            <label class="custom-control-label" [for]="d">
                                {{d}}
                            </label>
                        </div>

                    </ng-container>
                </div>
            </div>

            <hr class="mb-3">

            <div class="form-group row">
                <div class="col-sm-10 float-right">
                    <button type="button" id="btnAddTask" class="btn btn-info" [disabled]="!taskForm.form.valid" (click)="addToTable()">
                        <i class="fa fa-plus-circle"></i>
                        Add</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-6 order-md-2 mb-4">
        <div *ngIf="displayTable">

            <proj-table [projectDetail]="projectDetail"></proj-table>

            <div class="form-group row">
                <div class="col-sm-12 float-right">
                    <button type="button" class="btn btn-primary btn-block" (click)="findData()">
                        <i class="fa fa-search"></i>
                        Find the right resource!</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div *ngIf="displayCharts">
    <h4 class="mb-3"> Prediction Results </h4>

    <ng-container *ngFor="let ch of result">
        <app-charts [taskOutput]="ch"></app-charts>
    </ng-container>


</div>
